/*

* Override Pages default styles or create your own styles here

*/
#tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
  }

  #nolmargin {
    margin-left: 0px;
  }

.thumbnail-wrapper.d20 {
  line-height: 20px;
}
